@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>For so many years I thought ASP.NET is still the old ASP with a nicer name 🤦‍♂️</a>.</p>
</div>
